<% render 'spree/admin/shared/product_sub_menu' %>

<h1><%= I18n.t('spree.author_edit') %></h1>

<%= form_for [:admin, @author], :html => { :method => :put, :multipart => true} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <p class="form-buttons" data-hook="buttons">
    <%= button I18n.t('spree.update') %> <%= I18n.t('spree.or') %> <%= link_to I18n.t('spree.cancel'), admin_authors_url %>
  </p>
<% end %>
