<% admin_layout "full-width" %>

<% admin_breadcrumb(link_to plural_resource_name(Spree::Product), spree.admin_products_path) %>
<% admin_breadcrumb(plural_resource_name(Spree::Author)) %>

<% content_for :page_actions do %>
  <li>
    <%= link_to t('spree.new_author'), new_object_url, class: 'btn btn-primary' %>
  </li>
<% end if can?(:create, Spree::Author) %>

<% content_for :table_filter_title do %>
  <%= t('spree.search') %>
<% end %>

<%= paginate @collection, theme: "solidus_admin" %>

<% if @collection.any? %>
    <table class="index" id="listing_authors">
      <thead>
        <tr data-hook="admin_authors_index_headers">
          <th><%= sort_link @search,:name, Spree::Author.human_attribute_name(:name), {}, {title: 'admin_products_listing_name_title'} %></th>
          <th><%= sort_link @search,:permalink, Spree::Author.human_attribute_name(:permalink), {}, {title: 'admin_products_listing_permalink_title'} %></th>
          <th><%= sort_link @search,:created_at, Spree::Author.human_attribute_name(:created_at), { default_order: "desc" }, {title: 'admin_products_listing_created_at_title'} %></th>
          <th data-hook="admin_authors_index_header_actions" class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @collection.each do |author| %>
          <tr id="<%= spree_dom_id author %>" data-hook="admin_authors_index_rows" class="<%= cycle('odd', 'even') %>">
            <td class="align-center"><%= author.name %></td>
            <td class="align-center"><%= author.permalink %></td>
            <td class="align-center"><%= author.created_at.strftime("%F") %></td>
            <td class="actions">
              <%= link_to_edit author, no_text: true, class: 'edit' %>
              &nbsp;
              <%= link_to_delete author, no_text: true %>
            </td>
          </tr>
        <% end %>
        <% if @authors.empty? %>
          <tr data-hook="author_none"><td colspan="3"><%= Spree.t(:none) %></td></tr>
        <% end %>
      </tbody>
    </table>
<% else %>
  <div class="no-objects-found">
    <%= Spree.t(:no_results) %>
  </div>
<% end %>

<%= paginate @collection, theme: "solidus_admin" %>
